In [1]:
#Import Libraries, by using "!" it will connect to terminal
!pip install numpy
!pip install pandas

Requirement already satisfied: numpy in c:\users\annem\anaconda3\lib\site-packages (1.25.2)

WARNING: Ignoring invalid distribution -rotobuf (c:\users\annem\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\annem\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\annem\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\annem\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\annem\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\annem\anaconda3\lib\site-packages)
WARNING: Error parsing requirements for tensorflow-estimator: [Errno 2] No such file or directory: 'c:\\users\\annem\\anaconda3\\lib\\site-packages\\tensorflow_estimator-2.10.0.dist-info\\METADATA'
WARNING: Error parsing requirements for keras: [Errno 2] No such file or directory: 'c:\\users\\annem\\anaconda3\\lib\\site-packages\\keras-2.10.0.dist-info\\METADATA'
WARNING: Ignoring invalid distribution -rotobuf (c:\users\annem\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\annem\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\annem\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\annem\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\annem\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\annem\anaconda3\lib\site-packages)

Requirement already satisfied: pandas in c:\users\annem\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\annem\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.20.3 in c:\users\annem\anaconda3\lib\site-packages (from pandas) (1.25.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\annem\anaconda3\lib\site-packages (from pandas) (2022.7.1)
Requirement already satisfied: six>=1.5 in c:\users\annem\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.15.0)

WARNING: Ignoring invalid distribution -rotobuf (c:\users\annem\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\annem\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\annem\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\annem\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\annem\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\annem\anaconda3\lib\site-packages)
WARNING: Error parsing requirements for tensorflow-estimator: [Errno 2] No such file or directory: 'c:\\users\\annem\\anaconda3\\lib\\site-packages\\tensorflow_estimator-2.10.0.dist-info\\METADATA'
WARNING: Error parsing requirements for keras: [Errno 2] No such file or directory: 'c:\\users\\annem\\anaconda3\\lib\\site-packages\\keras-2.10.0.dist-info\\METADATA'
WARNING: Ignoring invalid distribution -rotobuf (c:\users\annem\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\annem\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\annem\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\annem\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\annem\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\annem\anaconda3\lib\site-packages)

In [2]:
import numpy as np
import pandas as pd

Implement a class for n-sided polygons and a class for points in a Euclidean system, namely polygon and point respectively. For example, a 4-sided polygon can be defined by 4 points P1, P2, P3, P4, and P1-P4 are each points of the form point(X,Y), and X and Y are coordinates on the X and Y axis, respectively. The edges are listed counterclockwise starting at the lower left: P1 to P2, P2 to P3, P3 to P4, and P4 to P1. The polygon class should work for polygons of any number of edges and have a function perimeter that returns its perimeter (sum of the lengths of the edges). (20points)

Hint: use the Pythagorian theorem: if a line segment Z starts at (X1,Y1) and ends at (X2, Y2), the length of Z is the square root of (X1-X2)^2 + (Y1-Y2)^2.

Example: The perimeter of the polygon/triangle on point(1,1), point(1,2), and point(2,2) is 3.4; The perimeter of the 4-sided polygon on point(2,1), point(2,3), point(6,3), and point(4,1) is 10.8; print out these two examples. (10points)

In [1]:
#class Point
import math
class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y
        #print(self.y)

# to calculate perimeter we need to define the length between edges

In [6]:
#points should have x and y coordinates
class Polygon:
   # def __init__(self, point):
    def __init__(self, *points):
        self.points = points
        #print(points)
    def perimeter(self):
        if len(self.points) < 2:
            return 0
        perimeter = 0
        num_points = len(self.points)
        for i in range(num_points):
            p1 = self.points[i]
            p2 = self.points[(i + 1) % num_points]
            length = self.calculate_edge_length(p1, p2)
            perimeter += length

        return perimeter

#     def perimeter(self):
#         if len(self.points) < 2:
#             return 0
#         perimeter = 0
#         for i in range(len(self.points)):
#             p1 = self.points[i]
#             #print(p1)
#             #This line assigns the next point in the list of self.points to the variable p2.
#             #The % operator is used to ensure that when i reaches the last point in the list, 
#             #print(len(self.points))
        
#             p2 = self.points[(i + 1) % len(self.points)] 
#            # print(p2)# Wrap around to the first point for the last edge
#             length = self.calculate_edge_length(p1, p2)
#             perimeter += length

       # return perimeter
    #below function calculatesthe distancebetween edges
    def calculate_edge_length(self, p1, p2):
        dx = p1.x - p2.x
        dy = p1.y - p2.y
        #use the Pythagorian the length of Z is the square root of (X1-X2)^2 + (Y1-Y2)^2.
        length = math.sqrt(dx**2 + dy**2)
        return length

In [12]:
# Example usage
triangle = Polygon(Point(1, 1), Point(1, 2), Point(2, 2))
quad = Polygon(Point(2, 1), Point(2, 3), Point(6, 3), Point(4, 1))
#circle = Polygon(Point(1, 1), Point(2, 2), Point(3, 3), Point(4, 4), Point(5,5))
# Calculate and print the perimeters
print("The perimeter of the triangle is:", round(triangle.perimeter(), 1))
print("The perimeter of the quadrilateral is:", round(quad.perimeter(), 1))
#print(round(circle.perimeter()))

The perimeter of the triangle is: 3.4
The perimeter of the quadrilateral is: 10.8
11

Use Pandas to load both data/AIS/transit_segments.csv, and data/AIS/vessel_information.csv. Show the first 5 rows of each dataset to inspect it.(10points)
For data/AIS/vessel_information.csv, keep only those rows with the type value occurring for at least 100 times in the dataset. (10points)
Merge data/AIS/vessel_information.csv and data/AIS/transit_segments.csv on the "mmsi" column using outer join. (10points)
If you are not allowed to call the inner join provided by Pandas but have the above outer join results, how to get the results of inner join? You can use other functions provided by Pandas (but not a function that directly implements the inner join). (10points)
Now directly call the inner join provided by Pandas, check whether your results above are exactly the same.(10points)

# Below code to load csv files

In [2]:
import pandas as pd

# Load transit_segments.csv
ts = pd.read_csv('transit_segments.csv')

# Load vessel_information.csv
vi = pd.read_csv('vessel_information.csv')

# Display the first 5 rows of each dataset
print("Transit Segments Dataset:")
print(ts.head(5))

print("\nVessel Information Dataset:")
print(vi.head(5))

Transit Segments Dataset:
   mmsi               name  transit  segment  seg_length  avg_sog  min_sog  \
0     1        Us Govt Ves        1        1         5.1     13.2      9.2
1     1  Dredge Capt Frank        1        1        13.5     18.6     10.4
2     1      Us Gov Vessel        1        1         4.3     16.2     10.3
3     1      Us Gov Vessel        2        1         9.2     15.4     14.5
4     1  Dredge Capt Frank        2        1         9.2     15.4     14.6

   max_sog  pdgt10        st_time       end_time
0     14.5    96.5  2/10/09 16:03  2/10/09 16:27
1     20.6   100.0   4/6/09 14:31   4/6/09 15:20
2     20.5   100.0   4/6/09 14:36   4/6/09 14:55
3     16.1   100.0  4/10/09 17:58  4/10/09 18:34
4     16.2   100.0  4/10/09 17:59  4/10/09 18:35

Vessel Information Dataset:
   mmsi  num_names                                              names sov  \
0     1          8  Bil Holman Dredge/Dredge Capt Frank/Emo/Offsho...   Y
1     9          3                         000000009/Raven/Shearwater   N
2    21          1                                      Us Gov Vessel   Y
3    74          2                                  Mcfaul/Sarah Bell   N
4   103          3           Ron G/Us Navy Warship 103/Us Warship 103   Y

      flag flag_type  num_loas                                    loa  \
0  Unknown   Unknown         7  42.0/48.0/57.0/90.0/138.0/154.0/156.0
1  Unknown   Unknown         2                              50.0/62.0
2  Unknown   Unknown         1                                  208.0
3  Unknown   Unknown         1                                  155.0
4  Unknown   Unknown         2                             26.0/155.0

   max_loa  num_types                             type
0    156.0          4  Dredging/MilOps/Reserved/Towing
1     62.0          2                     Pleasure/Tug
2    208.0          1                          Unknown
3    155.0          1                          Unknown
4    155.0          2                   Tanker/Unknown

In [3]:
value = vi.isnull().values.any()
print(value)

False

In [4]:
#print(vi.count(type))
#print(vi(type))
print(vi.columns)

Index(['mmsi', 'num_names', 'names', 'sov', 'flag', 'flag_type', 'num_loas',
       'loa', 'max_loa', 'num_types', 'type'],
      dtype='object')

In [25]:
print(vi.columns[::-1])

Index(['type', 'num_types', 'max_loa', 'loa', 'num_loas', 'flag_type', 'flag',
       'sov', 'names', 'num_names', 'mmsi'],
      dtype='object')

## For data/AIS/vessel_information.csv, keep only those rows with the type value occurring for at least 100 times in the dataset.

In [5]:
#Filter vessel_information to keep rows with 'type' value occurring at least 100 times
type_counts = vi['type'].value_counts()
common_types = type_counts[type_counts >= 100].index
#print(common_types)
#for i in common_types:
   # fi=vi[vi[common_types]]
f_v_i = vi[vi['type'].isin(common_types)]

In [41]:
print(len(ts))

262526

# Using Outer Join

In [6]:
# Merge the datasets using outer join on the "mmsi" column
merged_data_outer = pd.merge(vi, ts, on="mmsi", how="outer")
merged_data_outer
print(len(merged_data_outer))

262526

In [36]:
# Identify the common column used for the join (in this case, "mmsi")
#common_column = "mmsi"

# Filter rows where the common column is not null in both dataframes
#inner_join_results2= merged_data_outer[merged_data_outer[common_column].notnull()]
#outer will give the results for all the values present in both datframes..
#by removing the NAN values we can achieve only inner values
#mi=merged_data_outer(drop(NaN))
#mi=merged_data_outer.dropna('NaN')
#by using left outer then remove nan values
inner_join_results = pd.merge(vi, ts, on="mmsi", how="left")

# Drop rows with NaN values (rows that didn't have a match in the other dataframe)
inner_join_results.dropna(inplace=True)

#mi=merged_data_outer.dropna()
#mi
# Filter the rows where there are no NaN values (equivalent to an inner join)
inner_join_result = merged_data_outer.dropna()

# to get the inner join without outer just we can use
# remove the null valuez from the outer join 
# beacuse outer join is were it contains all the merged values, were inner join is related to the first frame

In [7]:
inner_join_result = merged_data_outer.dropna()

In [8]:
#using inner function 
merged_data_inner = pd.merge(vi, ts, on="mmsi", how="inner")

In [10]:
merged_data_inner

,mmsi,num_names,names,sov,flag,flag_type,num_loas,loa,max_loa,num_types,...,name,transit,segment,seg_length,avg_sog,min_sog,max_sog,pdgt10,st_time,end_time
0,1,8,Bil Holman Dredge/Dredge Capt Frank/Emo/Offsho...,Y,Unknown,Unknown,7,42.0/48.0/57.0/90.0/138.0/154.0/156.0,156.0,4,...,Us Govt Ves,1,1,5.1,13.2,9.2,14.5,96.5,2/10/09 16:03,2/10/09 16:27
1,1,8,Bil Holman Dredge/Dredge Capt Frank/Emo/Offsho...,Y,Unknown,Unknown,7,42.0/48.0/57.0/90.0/138.0/154.0/156.0,156.0,4,...,Dredge Capt Frank,1,1,13.5,18.6,10.4,20.6,100.0,4/6/09 14:31,4/6/09 15:20
2,1,8,Bil Holman Dredge/Dredge Capt Frank/Emo/Offsho...,Y,Unknown,Unknown,7,42.0/48.0/57.0/90.0/138.0/154.0/156.0,156.0,4,...,Us Gov Vessel,1,1,4.3,16.2,10.3,20.5,100.0,4/6/09 14:36,4/6/09 14:55
3,1,8,Bil Holman Dredge/Dredge Capt Frank/Emo/Offsho...,Y,Unknown,Unknown,7,42.0/48.0/57.0/90.0/138.0/154.0/156.0,156.0,4,...,Us Gov Vessel,2,1,9.2,15.4,14.5,16.1,100.0,4/10/09 17:58,4/10/09 18:34
4,1,8,Bil Holman Dredge/Dredge Capt Frank/Emo/Offsho...,Y,Unknown,Unknown,7,42.0/48.0/57.0/90.0/138.0/154.0/156.0,156.0,4,...,Dredge Capt Frank,2,1,9.2,15.4,14.6,16.2,100.0,4/10/09 17:59,4/10/09 18:35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262348,999999999,1,Triple Attraction,N,Unknown,Unknown,1,30.0,30.0,1,...,Triple Attraction,3,1,5.3,20.0,19.6,20.4,100.0,6/15/10 12:49,6/15/10 13:05
262349,999999999,1,Triple Attraction,N,Unknown,Unknown,1,30.0,30.0,1,...,Triple Attraction,4,1,18.7,19.2,18.4,19.9,100.0,6/15/10 21:32,6/15/10 22:29
262350,999999999,1,Triple Attraction,N,Unknown,Unknown,1,30.0,30.0,1,...,Triple Attraction,6,1,17.4,17.0,14.7,18.4,100.0,6/17/10 19:16,6/17/10 20:17
262351,999999999,1,Triple Attraction,N,Unknown,Unknown,1,30.0,30.0,1,...,Triple Attraction,7,1,31.5,14.2,13.4,15.1,100.0,6/18/10 2:52,6/18/10 5:03
262352,999999999,1,Triple Attraction,N,Unknown,Unknown,1,30.0,30.0,1,...,Triple Attraction,8,1,19.8,18.6,16.1,19.5,100.0,6/18/10 10:19,6/18/10 11:22

In [12]:
#compare two dataframes
#print(df1.equals(df2))
#print(mi.equals(merged_data_inner))inner_join_results
#print(merged_data_inner.equals(inner_join_result))

# comparition between innerjoin results using inner join and without usin inner join

In [14]:
# Reset the index for both DataFrames
merged_data_inner = merged_data_inner.reset_index(drop=True)
inner_join_result = inner_join_result.reset_index(drop=True)

# make the columns are in the same order
merged_data_inner = merged_data_inner[inner_join_result.columns]

comparison_result = merged_data_inner.compare(inner_join_result)

are_identical = comparison_result.empty

# Print the result
print(are_identical)

True

In [10]:
comparison_result = merged_data_inner.compare(inner_join_result)
print(comparison_result)

Empty DataFrame
Columns: []
Index: []